* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

button{
    padding: .8rem 1rem;
    background-color: #4c6e97;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
body{
    font-family: 'Poppins', sans-serif;
}

.main-head {
    background-color: #131c27;
    color: white;
}

nav {
    min-height: 8vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

nav ul {
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
    list-style: none;
}


#logo {
    flex: 1 4 20rem;
    font-family: 'Dancing Script', cursive;
    
}

.hero {
    background: url('./img/pexels-maksim-romashkin-6151861.jpg');
    min-height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 3rem;
    padding: 0 1rem;
}
.hero h2{
    font-size: 1.5rem;
    padding: 1rem;
}