* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

button{
    padding: .8rem 1rem;
    background-color: #4c6e97;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    
}
button:hover{
    background-color:rgb(62, 90, 123) ;
    font-size: 1.1rem;
}
body{
    font-family: 'Poppins', sans-serif;
}

.main-head {
    background-color: #131c27;
    color: white;
}

nav {
    min-height: 8vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

nav ul {
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
    list-style: none;
}


#logo {
    flex: 1 4 20rem;
    font-family: 'Dancing Script', cursive;
    
}

.hero {
    background: url('./img/pexels-maksim-romashkin-6151861.jpg');
    min-height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 3rem;
    padding: 0 1rem;
}
.hero h2{
    font-size: 1.5rem;
    padding: 1rem;
}
@media screen and (max-width: 760px){
    html{
        font-size:95% ;
    }
    nav{
        text-align: center; 
    }
    #logo{
        padding: .5rem; 
    }
    
}

#locations{
    min-height: 100vh;
    background:url('./img/pexels-reza-shokri-11872608.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
   
   
}
#locations header{
    width: 90vw;
    margin: auto;
    font-size: 1.7rem;
    text-shadow: 2px 2px gray;
    margin-bottom: 45vh;
    
}
.locations-head h2{
    padding: 1rem 0;
    text-decoration: underline;
}
.cloud{
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    animation: cloudAnimation 6s infinite alternate ease-in;
}
@keyframes cloudAnimation{
   from{
       transform: translate(8%,8%);
   }
   to{
       transform: translate(0%,0%);
   }
}
.benefits{
    min-height: 100vh;
}
.benefits-head{
    height: 35vh;
    background-color:#131c27 ;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.benefits-head h2{
    padding: 2rem 0;
}


.card{
    /* margin-top: 5rem; */
    margin: 1rem;
    width: 15rem;
    height: 20rem;
    /* border: 2px solid red; */
    box-shadow: 0px 5px 8px silver;

}
.card-image{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #677587;
    
}
.card-image img{
    height: 60%;
   
    
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 8rem 0;
    flex-wrap: wrap;
}
.card-text{
    height:12rem;
    text-align: center;

}
.card-text h2{
    margin: 1.8rem;
}

#contact{
    min-height: 100vh;
    background:url('./img/pexels-mali-maeder-45987.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.form-div{
    
    /* width: 40vw; */
    /* border: 2px solid red; */
    background-color: #3e56759f;
    border-radius: 10px;
}
.form-div header{
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-name,.form-email{
    font-size: 1.3rem;
    padding: 1rem 6rem;
    
    color: white;
   
}
.form input{
    padding: .5rem;
    margin: 0 3rem;
}
#form-submit{
    margin-top: 3rem;
    width: 100%;
}
footer{
    background-color: #131c27;
    color: white;
    text-align: center;
}

